* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: .5rem;
    background-color: rgb(52, 180, 137);
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    justify-items: center;
    box-shadow: 5px 5px 5px #bbb;
    border-radius: 25px;
}

header img {
    width: 100%;
    height: auto;
    border: 5px solid white;
    margin-left: 10px;
}

footer {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: .5rem;
    background-color: rgb(52, 180, 137);
    text-align: center;
    box-shadow: 5px 5px 5px #bbb;
    border-radius: 25px;
}

.lastmodified {
    color: gold;
}

h2 {
    padding-top: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-left: 20px;
    font-family: Helvetica, serif;
}

ul {
    padding-left: 50px;
    padding-top: 10px;
}

ul li {
    padding: 3px;
}