* {
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #2F4858;
}

header, footer {
    font-family: 'Arima', cursive;
    display: grid;
    align-items: center;
    padding: 5px;
}

footer a {
    padding: 5px;
}

h1 {
    padding: 10px;
}

.logo img {
    width: 75px;
}

a {
    color: #2F4858;
    text-decoration: none;
}

a:hover {
    color: #F6AE2D;
}

.hero picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.hero {
    position: relative;
}

.hero a {
    position: absolute;
    bottom: 5px;
	right: 50px;
    background-color: #2F4858;
    color: white;
    padding: 1rem;
    border-radius: 3%;
}

.hero a:hover {
    color:#F6AE2D;
}

/* Menu */
.navbar {
    grid-column: 4;
    z-index: 2;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #2F4858;
}

.nav-item {
    margin-left: 5rem;
    list-style: none;
    margin: 2.5rem 0;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    left: 0;
}

.hamburger {
    display: block;
    cursor: pointer;
    padding: 30px;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

/* Form */
.home form {
    background-color: #2F4858;
    color: white;
    padding: 10px;
    text-align: center;
}

.home form input[type=date], form input[list] {
	padding: .5rem;
}

.button {
    background-color: #eee;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #F6AE2D;
	border-radius: 3px;
	color: black;
}

.button:hover {
    background: #6B9FFF;
	color:#fff;
}

/* Home Layout*/
.home section p {
    padding: 1rem;
    align-self: start;
}

h2 {
    padding: 10px;
    text-align: center;
}

.home h3 {
    padding: 10px;
}

.temple img {
    width: 100%;
}

/* Weather Card */
.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 20px solid #2F4858;
    padding: 5px;
    margin: 20px auto;
}

#weather-icon {
    width: 75px;
}

.weather h3 {
    grid-column: 1/3;
    padding: .5rem;
}

#reference {
    grid-column: 1/3;
}

#temp-ph {
    font-size: 1.3rem;
    align-self: center;
}

#caption {
    grid-column: 1;
}

.forecast {
    display: flex;
    grid-column: 1/3;
    padding: 0 5px;
    flex-direction: row;
}

.forecast p {
    padding: 5px;
    align-self: center;
}

.forecast h4 {
    padding: .5rem;
    align-self: center;
    display: none;
}

/* Closeable Alert */
#banner {
    width: 100%;
    padding: 1rem;
    display: none;
    background-color: #F6AE2D;
}

.dismiss {
    cursor: pointer;
}

/* Temple Page */
#temple_list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    background-color: transparent;
    color: black;
}

.cards img {
    max-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.63), 0 6px 20px 0 rgba(0, 0, 0, 0.63);
    margin: 20px;
}

.cards section {
    padding: 10px;
    border: 10px solid #2F4858;
    margin: 10px;
    background-color: #2f485869;
}

.cards section p {
    padding: .3rem;
}

/* Reservation and Contact Us Form */
.reservation{
	padding:30px;
	margin:40px auto;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.reservation .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.reservation h1{
	background: #2F4858;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px Arima, serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}

.reservation h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px;
}

.reservation .section span {
    background: #F6AE2D;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: black;
    margin-top: -3px;
}

.reservation label{
	display: block;
	font: 13px Roboto, sans-serif;
	color: #888;
	margin-bottom: 15px;
}
.reservation input[type="text"],
.reservation input[type="date"],
.reservation input[type="datetime"],
.reservation input[type="email"],
.reservation input[type="number"],
.reservation input[type="time"],
.reservation input[type="list"],
.reservation textarea,
.reservation select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #2F4858;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.reservation .section{
	font: normal 20px Arima, serif;
	color: #2F4858;
	margin-bottom: 5px;
}

.reservation input[type="button"], 
.reservation input[type="submit"]{
	background: #2F4858;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #2F4858;
	font-size: 15px;
}
.reservation input[type="button"]:hover, 
.reservation input[type="submit"]:hover{
	background: #F6AE2D;
    color: black;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.reservation .privacy-policy{
	float: right;
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}

.thank_you {
    border: 10px solid #2F4858;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
}

.thank_you img {
    width: 100%;
}

.services {
    border: 20px solid #2F4858;
    padding: 5px;
    margin: 20px;
}

.services h3 {
    text-align: center;
}

.services ul {
    padding: 10px;
    margin-left: 10px;
}

.like {
    padding: 5px;
    background-color: white;
    border: 1px solid #F6AE2D;
    margin: 10px;
    font-size: 1rem;
}