@media only screen and (min-width: 45rem) {
    footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .weather {
        width: 500px;
    }
    .forecast p {
        min-width: 40px;
    }
    .forecast h5 {
        display: block;
    }
    .hero img {
        max-width: 1000px;
    }

    .temple img {
        max-width: 300px;
    }
}