* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: antiquewhite;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Bebas Neue', serif;
    letter-spacing: 0.5px;
}

h2 {
    /* Hex color: #B49A5C */
    background-color: rgba(180, 154, 92, 0.753);
    padding: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main {
    padding: 20px;
    background-color: #fff;
}

header, footer {
    display: flex;
    flex-flow: column;
    align-items: center;
	justify-content: center;
	padding: 10px;
    /* Hex color: #23C3A0 */
    background-color: rgba(35, 195, 160, 0.452);
}

nav {
    background-color: #36454f;
	margin: 0 auto;
    max-width: 820px;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	font-size: 0.95rem;
}

a:hover {
	background-color: white;
	color: #36454f;
}

p {
    padding: 15px;
}

h3, h4 {
    padding: 10px;
    font-family: 'Bebas Neue', serif;
}